<style type="text/css">
    
    .ms-WPBorder {
        border-style: solid;
        border-color: #c5e0f1;
        border-width: 8px;
        border-radius: 10px;
    }

    .ms-WPTitle {
        display: none;
    }

	#WebPartWPQ3 a:link {
		color: #00224B;
	}
		
</style>
